<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>L422Y PLAYLISTS</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>


<script type="text/x-template" id="playlists-view">
    <div v-if="results">
        <ul>
            <playlisttile v-for="result in results" :result="result"></playlisttile>
        </ul>
    </div>
    <div v-else id="loading">
        Loading...
    </div>
</script>

<script type="text/x-template" id="playlist-tile">
    <li v-if="(result.tracks.total>3 && (result.owner.id == 'l422y'))">
        <figure>
            <a :href="result.external_urls.spotify" target="_blank" @click="$parent.showPlaylist(result)">
                <img v-if="result.images[0]" :src="result.images[0].url" alt="" width="320">
                <img v-else src="http://placekitten.com/320/320" alt="" width="320">
            </a>
            <h3>
                <a :href="result.external_urls.spotify" @click="$parent.showPlaylist(result)" target="_blank">
                    {{result.name}}
                </a>
                <small>{{result.tracks.total}} songs</small>
                <small>by <a :href="result.owner.external_urls.spotify" @click="$parent.showUser(result)">{{result.owner.id}}</a></small>
            </h3>
        </figure>
    </li>
</script>

<div id="app">
    <playlistsview :results="results"></playlistsview>
</div>

<script src="main.js"></script>
</body>
</html>